PORT=3000
DATABASE_FILE=./data/cathprn.db
CREDENTIAL_ENCRYPTION_KEY=2b591c1b056bd55b00938aba1f98db63f67801fa945f060ad085f2b0a3f96d58
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
